{% extends 'index.html' %}

{% block content %}
    <div class="overlay">
        <div class="card no_padding overflow_hidden no_border">
            <div class="success">
                <h3>Successful</h3>
            </div>
            <div class="card-body text-center">
                <p>Please check your email, to reset your password.</p>
                <p>Should you not have recieved the email check your spam folder, or try again</p>
            <div class="w-100 d-flex flex-column align-items-center">
                <a href="{% url 'landing_page' %}" class='w-25 btn btn-outline-secondary' type='submit'>Close</a>
            </div>
            </div>
        </div>
    </div>
{% endblock content %}