{% extends 'index.html' %}

{% block content %}
<div class="w-100">
    <div class="d-flex p-2 justify-content-between fixed">
        <h3 class='p-2 w-50'>Category: {{category.name}}</h3>
        {% if request.user.is_organiser  %}
        <div class="d-flex p-2 w-50 justify-content-end">
            <a href="{% url 'leads:lead-create' %}" class="btn btn-primary scale">Create Lead<a />
        </div>
        {% endif %}
    </div>
    <div class="card max_height">
        <div class="d-flex w-100 p-2 justify-content-between">
            <h3 class='p-2 w-60'>Leads</h3>
            {% if request.user.is_organiser  %}
            <div class="d-flex p-2 w-50 justify-content-end">
                <a href="{% url 'category:category-list' %}" class="small_link scale">Go to Categories</a>
            </div>
            {% endif %}
        </div>
        {% include 'components/lead_table.html'%}
        {% include 'components/pagination.html'%}
    </div>

</div>
{% endblock content %}