{% extends 'index.html' %}

{% block content %}
<div class="d-flex p-2 justify-content-between fixed" style="width: 50vw">
    <h3 class='p-2 w-50'>Categories</h3>
    {% if request.user.is_organiser  %}
    <div class="d-flex p-2 w-50 justify-content-end">
        <a href="{% url 'category:category-create' %}" class="btn btn-primary scale">Create Category<a />
    </div>
    {% endif %}
</div>
<div class="card max_height" style="width: 50vw">
    <div class="d-flex p-2 justify-content-between">
        <h3 class='p-2 w-50'>Active</h3>
    </div>
    <table class="table align-self-center table-striped table_width" style="margin-left: 15px;">
        <thead>
            <tr>
                {% if request.user.is_organiser  %}
                <th scope="col"></th>
                {% endif %}
                <th scope="col">Name</th>
                <th scope="col">Count</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% if request.user.is_organiser  %}
                <td></td>
                {% endif %}
                <td>Unassigned</td>
                <td>{{unassigned_lead_count}}</td>
            </tr>
            {% for category in categories  %}
            <tr>
                {% if request.user.is_organiser  %}
                <td>
                    {% include 'components/table_menu.html' with del='category:category-delete' detail='category:category-details' update='category:category-update' id=category.category.pk %}
                </td>
                {% endif %}
                <td>{{category.category.name}}</td>
                <td>
                    <p> {{category.category.count}} </p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'components/pagination.html'%}
</div>
{% endblock content %}