{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card w-50 p-3">
    <a href="{% url 'leads:lead-details' lead.pk %}" style="margin-left: 10px;" class="scale2 small_link">Go To Lead</a>
    <h2>Create a new follow up</h2>
    <div class="card-body">
        <form method='post' class="d-flex flex-column justify-content-center">
            {% csrf_token %}
            {{ form|crispy }}
            <button class='w-100 btn btn-primary' type='submit'>Add Follow Up</button>
        </form>
    </div>
</div>
{% endblock content %}