{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card w-50 p-3">
    <a href="{% url 'category:category-list' %}" style="margin-left: 10px;" class="scale small_link">Go Back To
        Categories</a>
    <h2>Create a new category</h2>
    <div class="card-body">
        <form method='post' class="d-flex flex-column justify-content-center">
            {% csrf_token %}
            {{ form|crispy }}
            <button class='w-100 btn btn-primary' type='submit'>Add Category</button>
        </form>
    </div>
</div>
{% endblock content %}