{% extends 'index.html' %}

{% block content %}

<div class='card w-50'>
  <div class='card-body'>
    <a href="{% url 'leads:lead-list' %}" class='scale small_link'>Go Back To Leads</a>
    <h3>Lead Details</h3>
    <div class='d-flex'>
      <div class='group1 w-50 p-3'>
        <p><b>First Name:</b> {{ lead.first_name }}</p>
        <p><b>Last Name:</b> {{ lead.last_name }}</p>
        <p><b>Email:</b> <a href="mailto:{{lead.email}}">{{ lead.email }}</a></p>
        <p><b>Contact:</b> {{ lead.phone_number }}</p>
        <p><b>Age:</b> {{lead.age}}</p>
      </div>
      <div class='group2 w-50 p-3'>
        <p><b>Agent:</b> {{ lead.agent }}</p>
        <p><b>Category:</b> {{ lead.category }}</p>
        <p><b>Description:</b> {{ lead.description }}</p>
        <a href="{% url 'leads:lead-category' lead.pk %}" class='w-100 btn btn-primary'>Category Selection</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}