{% extends 'index.html' %}

{% block content %}
<div class="w-100">
  <div class="d-flex p-2 justify-content-between">
    <h3 class='p-2 w-50'>Leads</h3>
    {% if request.user.is_organiser  %}
    <div class="d-flex p-2 w-50 justify-content-end">
      <a href="{% url 'leads:lead-create' %}" class="btn btn-primary scale">Create Lead</a>
    </div>
    {% endif %}
  </div>
  <div class='card max_height'>
    <div class="d-flex p-2 w-100 justify-content-between">
      <div class="p-2 w-100 d-flex justify-content-between">
        <h3 class='d-flex p-2 w-50'>Assigned</h3>
        {% if unassigned_leads.exists %}
        <a href="{% url 'leads:unassigned-leads' %}" class="btn btn-outline-secondary scale" style="height: 40px;">
          Unassigned leads
        </a>
        {% endif %}
      </div>
    </div>
    {% include 'components/lead_table.html'%}
    {% include 'components/pagination.html'%}
  </div>
</div>
{% endblock content %}