body {
    position: relative;
    height: 100vh;
    background-color: #F2F4F3;
    overflow: hidden;
}

.helptext {
    visibility: hidden;
}

#div_id_new_password1>ul {
    display: none;
}

.overflow_hidden {
    overflow: hidden;
}

.no_border {
    border: none;
}

.success,
.Warning {
    position: relative;
    padding-top: 5px;
    width: 101%;
    text-align: center;
    margin: -1px;
}

.success {
    background-color: seagreen;
    color: seashell;
}

.Warning {
    background-color: sienna;
    color: seashell;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.navigation_bar {
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.8);
}

.snow,
.snow2 {
    color: snow;
}

.snow:hover {
    transform: scale(1.2);
    text-decoration: none;
    color: snow;
}

.snow2:hover {
    transform: scale(1.1);
    color: snow;
}

.snow_btn {
    margin-left: 10px;
    border-color: snow;
    color: snow;
}

.margin_v {
    margin: 5px 0px;
}

.margin_right {
    margin-right: 10px
}

.margin_top {
    margin-top: 15px;
}

.small_link {
    font-size: 12px;
}

.no_padding {
    padding: 0px;
}

.margin_top2 {
    margin-top: 50px;
}

.scrollY {
    position: relative;
    overflow-y: auto;
    max-height: 85vh;
    width: 70vw;
}

.fixed {
    position: sticky;
    top: 0px;
}

.tableCell {
    min-width: 150px;
    max-width: 150px;
}

.actionsCell {
    min-width: 30px;
    max-width: 30px;
}

.ageCell {
    min-width: 50px;
    max-width: 50px;
}

.descriptionCell {
    min-width: 220px;
    max-width: 220px;
}

.container-height {
    height: 90vh;
}

.scale2 {
    margin: 5px;
}

.scale2:hover {
    transform: scale(1.1);
    text-decoration: none;
    margin: 5px;
}

.scale:hover {
    transform: scale(1.2);
    text-decoration: none;
}

.drop_down_menu {
    font-weight: bold;
    font-size: 20px
}

.menu {
    font-size: 20px;
    padding: 8px 15px;
    margin: -10px 0px;
    background-color: rgba(0, 0, 0, 0.8);
    color: snow;
}

.table_width {
    width: 95%;
}

.max_height {
    min-height: 540px;
    max-height: 540px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.clipped {
    min-width: 220px;
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}



/* TO DO: Move to own css file */
/* Tooltip */

.hint {
    position: relative;
}

.hint:before,
.hint:after {
    position: absolute;
    opacity: 0;
    z-index: 1000000;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    transition: 0.5s ease;
    pointer-events: none;
}


.hint:hover:before,
.hint:hover:after {
    opacity: 1;
}

.hint:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    position: absolute;
}

.hint:after {
    content: attr(data-hint);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 8px 10px;
    font-size: 12px;
    white-space: nowrap;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}


/* top */

.hint--top:before {
    bottom: 100%;
    left: 50%;
    margin: 0 0 -18px 0;
    border-top-color: rgba(0, 0, 0, 0.6);
}

.hint--top:after {
    bottom: 100%;
    left: 50%;
    margin: 0 0 -6px -10px;
}

.hint--top:hover:before {
    margin-bottom: -10px;
}

.hint--top:hover:after {
    margin-bottom: 2px;
}

/* default: bottom */
.hint--bottom:before {
    top: 100%;
    left: 50%;
    margin: -14px 0 0 0;
    border-bottom-color: rgba(0, 0, 0, 0.6);
}

.hint--bottom:after {
    top: 100%;
    left: 50%;
    margin: -2px 0 0 -10px;
}

.hint--bottom:hover:before {
    margin-top: -6px;
}

.hint--bottom:hover:after {
    margin-top: 6px;
}

/* right */

.hint--right:before {
    left: 100%;
    bottom: 50%;
    margin: 0 0 -4px -8px;
    border-right-color: rgba(0, 0, 0, 0.6);
}

.hint--right:after {
    left: 100%;
    bottom: 50%;
    margin: 0 0 -13px 4px;
}

.hint--right:hover:before {
    margin: 0 0 -4px -0;
}

.hint--right:hover:after {
    margin: 0 0 -13px 12px;
}

/* left */

.hint--left:before {
    right: 100%;
    bottom: 50%;
    margin: 0 -8px -4px 0;
    border-left-color: rgba(0, 0, 0, 0.6);
}

.hint--left:after {
    right: 100%;
    bottom: 50%;
    margin: 0 4px -13px 0;
}

.hint--left:hover:before {
    margin: 0 0 -4px 0;
}

.hint--left:hover:after {
    margin: 0 12px -13px 0;
}

/* Spinner */
.loader {
    border: 5px solid #f3f3f3;
    /* Light grey */
    border-top: 5px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}