{% extends 'index.html' %}

{% block content %}
<div class="w-100 scrollY">
  <div class="d-flex p-2 justify-content-between fixed">
    <h3 class='p-2 w-50'>Agents</h3>
    {% if request.user.is_organiser  %}
    <div class="d-flex p-2 w-50 justify-content-end">
      <a href="{% url 'agents:agent_create' %}" class="btn btn-primary scale">Create Agent</a>
    </div>
    {% endif %}
  </div>
  <div class='card'>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Actions</th>
          <th scope="col">Username</th>
          <th scope="col">Last Login</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        {% for agent in agents %}
        <tr>
          <td>
            <div class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Actions</a>
              <ul class="dropdown-menu text-center" style="max-width: 80px" role="menu" aria-labelledby="dLabel">
                <li><a href="{% url 'agents:agent_details' agent.pk %}" class="card-link">View</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'agents:agent_update' agent.pk %}" class="card-link">Update</a></li>
                <li class="divider"><a href="{% url 'agents:agent_delete' agent.pk %}" class="card-link">Delete</a></li>
              </ul>
            </div>
          </td>
          <td>{{agent.user.username}}</td>
          <td>{{agent.user.last_login}}</td>
          <td>{{agent.user.email}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}