{% extends 'index.html' %}

{% block content %}
  <div class="w-100">
    <div class="d-flex p-2 w-100 justify-content-between">
      <div class="p-2 w-50">
        <h3>List of Agents</h3>
      </div>
      <div class="d-flex p-2 w-50 justify-content-end">
        <a href="{% url 'agents:agent_create' %}" class="btn btn-primary">Create Agent<a/>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Actions</th>
          <th scope="col">Username</th>
          <th scope="col">Last Login</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        {% for agent in agents %}
          <tr>
            <td>
              <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Actions</a>
                <ul class="dropdown-menu text-center" style="max-width: 80px" role="menu" aria-labelledby="dLabel">            
                  <li><a href="{% url 'agents:agent_details' agent.pk %}"  class="card-link">View</a></li>
                  <li class="divider"></li>
                  <li><a href="{% url 'agents:agent_update' agent.pk %}" class="card-link">Update</a></li>
                  <li class="divider"><a href="{% url 'agents:agent_delete' agent.pk %}" class="card-link">Delete</a></li>
                </ul>
              </div>     
            </td>
            <td>{{agent.user.username}}</td>
            <td>{{agent.user.login_time}}</td>
            <td>{{agent.user.email}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}