{% extends 'index.html' %}

{% block content %}
<div class="w-100">
  <div class="d-flex p-2 justify-content-between fixed">
    <h3 class='p-2 w-50'>Agents</h3>
    {% if request.user.is_organiser  %}
    <div class="d-flex p-2 w-50 justify-content-end">
      <a href="{% url 'agents:agent_create' %}" class="btn btn-primary scale">Create Agent</a>
    </div>
    {% endif %}
  </div>
  <div class='card max_height relative'>
    <div class="d-flex p-2 w-100 justify-content-between">
      <div class="p-2 w-100 d-flex justify-content-between">
        <h3 class='d-flex p-2 w-50'>Active Agents</h3>
      </div>
    </div>
    <table class="table table-striped align-self-center mh-50 table_width">
      <thead>
        <tr>
          <th class="actionsCell" scope="col"></th>
          <th class="descriptionCell" scope="col">Username</th>
          <th class="descriptionCell" scope="col">Last Login</th>
          <th class="descriptionCell" scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        {% for agent in agents %}
        <tr>
          <td>
            {% include 'components/table_menu.html' with del='agents:agent_delete' detail='agents:agent_details' update='agents:agent_update' id=agent.pk %}
          </td>
          <td>{{agent.user.username}}</td>
          <td>{{agent.user.last_login}}</td>
          <td>{{agent.user.email}}</td>
        </tr>
        {% empty %}
        <div class='w-100 text-center'>
          <p>Currently there are no agents available.</p>
          <p style='margin-top: -15px'>Create a agent to start converting your leads!</p>
          <p style='margin-top: -15px'>Note:</p>
          <ul>
            <li>When creating an agent an email with username, and password will be emailed to your new agent</li>
            <li>Agents will only be able to follow-up on leads assigned to them</li>
          </ul>
        </div>
        {% endfor %}
      </tbody>
    </table>
    {% include 'components/pagination.html'%}
  </div>
</div>
{% endblock content %}