{% extends 'index.html' %}

{% block content %}
    <div class="card" style="width: 40rem;">
        <img 
            width="400px"
            height="300px"
            src="https://www.thebluediamondgallery.com/handwriting/images/c-r-m.jpg" 
            class="card-img-top" 
            alt="..."
        >
        <div class="card-body text-center">
            <h1 class="card-title">Built with Django</h1>
            <p class="card-text">The CRM helps manage your leads</p>
            <div class="d-flex justify-content-between">
                <a href="{% url 'sign_up' %}" class="btn btn-outline-secondary">Sign Up</a>
                <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
            </div>
        </div>
    </div>
{% endblock content %}