{% load django_bootstrap_icons %}
{% include_bootstrap_icons %}
<table class="table table-striped align-self-center mh-50 table_width">
    <thead>
        <tr>
            <th class="tableCell actionsCell" scope="col"></th>
            <th class="tableCell" scope="col">Name</th>
            <th class="tableCell ageCell" scope="col">Age</th>
            <th class="tableCell" scope="col">Email</th>
            <th class="tableCell descriptionCell" scope="col">Description</th>
            <th class="tableCell" scope="col">Agent</th>
        </tr>
    </thead>
    <tbody>
        {% for lead in leads %}
        <tr style='max-height: 30px'>
            <td class="tableCell actionsCell">
                {% if request.user.is_organiser  %}
                {% include 'components/table_menu.html' with del='leads:lead-delete' detail='leads:lead-details' update='leads:lead-update' id=lead.pk %}
                {% else %}
                <a class="hint hint--top drop_down_menu scale" data-hint="View"
                    href="{% url 'leads:lead-details' lead.pk %}" class="card-link">{% bs_icon 'binoculars-fill' %}</a>
                {% endif %}
            </td>
            <td class="tableCell">{{lead.first_name}} {{lead.last_name}}</td>
            <td class="tableCell ageCell">{{lead.age}}</td>
            <td class="tableCell">{{lead.email}}</td>
            <td class="tableCell descriptionCell">
                <div class="clipped">{{lead.description}}</div>
            </td>
            <td class="tableCell">{{lead.agent}}</td>
        </tr>
        {% empty %}
        <div class='w-100 text-center'>
            <p>Currently there are no assigned leads available.</p>
            <p style='margin-top: -15px'><a href="{% url 'leads:lead-create' %}">Create a lead</a> or assign a lead from
                the unassigned table!</p>
        </div>
        {% endfor %}
    </tbody>
</table>